@charset "utf-8";
/*font-S*/
@font-face {
    font-family:'NanumBarunGothic';
    src:url('../font/NanumBarunGothic.eot');
    src:url('../font/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumBarunGothic.woff2') format('woff2'),
         url('../font/NanumBarunGothic.woff') format('woff'),
         url('../font/NanumBarunGothic.ttf') format('truetype'),
         url('../font/NanumBarunGothic.svg#NanumSquareOTFB') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'NanumBarunGothic';
    src:url('../font/NanumBarunGothicBold.eot');
    src:url('../font/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumBarunGothicBold.woff2') format('woff2'),
         url('../font/NanumBarunGothicBold.woff') format('woff'),
         url('../font/NanumBarunGothicBold.ttf') format('truetype'),
         url('../font/NanumBarunGothicBold.svg#NanumSquareOTFB') format('svg');
    font-weight:700;
    font-style:normal;
}
@font-face {
    font-family:'NanumBarunGothic';
    src:url('../font/NanumBarunGothicLight.eot');
    src:url('../font/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumBarunGothicLight.woff2') format('woff2'),
         url('../font/NanumBarunGothicLight.woff') format('woff'),
         url('../font/NanumBarunGothicLight.ttf') format('truetype'),
         url('../font/NanumBarunGothicLight.svg#NanumSquareOTFB') format('svg');
    font-weight:400;
    font-style:normal;
}
/*font-E*/
/* reset-S */
*{margin:0;padding:0;font-size:14px;letter-spacing:-0.07rem;font-weight:normal;font-style:normal;font-family:'NanumBarunGothic','맑은고딕','돋움',Dotum,'굴림',Gulim,Arial,'Trebuchet MS',Verdana,'Sans-serif';outline:none;}
body,div, ul, ol, li, dl, dt, dd, p, input, textarea, select,em, address, fieldset, form, iframe, object{margin:0;padding:0;}
input[type="checkbox"]{display:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;}
img, fieldset, iframe{border:0 none;}
li{list-style:none outside none;}
input, select, button{cursor:pointer;border:none;}
img{vertical-align:top;border:0;}
em,address,i{font-style:normal;}
iframe{margin:0;border:0;}
a{color:#000;text-decoration:none;}
a:link,a:hover,a:visited,a:active {text-decoration:none;box-sizing:border-box;}
hr{display:none;}
.blind, legend{display:block;left:0;position:absolute;top:-9000em;}
table{width:100%;border:0;border-spacing:0;empty-cells:show;table-layout:fixed;}
caption{height:0;line-height:0;visibility:hidden;width:0;}
button{border:none;background:none;box-sizing:border-box;cursor:pointer;}
input,
textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;box-shadow:none;box-sizing:border-box;cursor:pointer;}
select{-webkit-appearance:none;-moz-appearance:none;appearance:none;box-sizing:border-box;}
input::-ms-expand{display:none;}
select::-ms-expand{display:none;}
b,
strong{font-weight:normal;font-style:normal;font-family:'NanumBarunGothic';}
html,body,#wrap{height:100%;}
select{background:none;}
select option{color:#000;}
/* reset-E */

/* Skip-S */
#skip a{position:fixed; top:0; left:0; z-index:9999; overflow:hidden; width:100%; height:0; margin-top:-1px; display:block; background-color:#000; color:#fff; line-height:1; text-align:center;}
#skip a:focus,
#skip a:active{margin-top:0; height:auto; padding:10px 0px;}
/* Skip-E */

/*basic-S*/
.inner{margin:auto;width:1280px;}
/*basic-E*/
/*header-S*/
    #header{position:relative;background:#171a25;height:70px;line-height:70px;box-sizing:border-box;}
    #header .inner{position:relative;margin:auto;width:1670px;height:100%;}
    #nav{height:100%;}
    #nav>*{}
    .logo{position:absolute;left:0;top:50%;margin-top:-16.5px;display:inline-block;line-height:1;}
    .menu-bt{display:none;}
    .menu-bt button{position:absolute;right:0;top:0;display:block;width:70px;height:70px;background:url("../images/menu_ico.png") 50% 50% no-repeat;text-indent:-99999px;}
    #gnb{display:block;height:100%;}
    #gnb:after{display:block;clear:both;content:"";}
    #gnb .gnb-menu{height:100%;font-size:0;}
    #gnb .gnb-menu.left{padding:0 0 0 192px;float:left;}
    #gnb .gnb-menu.right{float:right;}
    #gnb .gnb-menu ul{display:inline-block;}
    #gnb .gnb-menu ul li{position:relative;display:inline-block;}
    #gnb .gnb-menu ul li.off{display:none;}
    #gnb .gnb-menu>ul>li+li{margin-left:40px;}
    #gnb .gnb-menu ul li a{display:block;color:#fff;font-size:16px;}
    #gnb .gnb-menu ul li .sub-gnb{display:none;position:absolute;left:50%;top:54px;width:max-content;min-width:110px;margin-top:10px;padding:20px;background:#fff;border-radius:5px;box-sizing:border-box;z-index:3 ;}
    #gnb .gnb-menu ul li .sub-gnb:after{position:absolute;top:-10px;left:50%;margin-left:-7px;display:block;width:0;height:0;border-bottom:10px solid #fff;border-left:7px solid transparent;border-right:7px solid transparent;content:"";}
    #gnb .gnb-menu ul li .sub-gnb li{display:block;line-height:1;}
    #gnb .gnb-menu ul li .sub-gnb li+li{margin-top:15px;}
    #gnb .gnb-menu ul li .sub-gnb li a{color:#000;}
    #gnb .gnb-menu ul li .sub-gnb li a:hover{font-family:'NanumBarunGothicBold';}
    #gnb .gnb-menu .lang-box{display:inline-block;margin:0 0 0 35px;color:#fff;}
    #gnb .gnb-menu .lang-box .lang-con{position:relative;}
    #gnb .gnb-menu .lang-box .lang-con:after{position:absolute;right:8px;top:50%;display:block;margin-top:-2px;width:0;height:0;border-top:6px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent;content:"";}
    #gnb .gnb-menu .lang{padding:0 6px 0 28px;width:80px;height:30px;line-height:30px;border:1px solid #5d5f67;border-radius:3px;box-sizing:border-box;color:#fff;background:url("../images/lang_ico.png") 6px 50% no-repeat;}
/*header-E*/
/*footer-S*/
    #footer{padding:90px 0;background:#171a25;}
    #footer .f-top{display:flex;justify-content:space-between;margin:0 0 30px 0;}
    #footer .inner{display:flex;justify-content:space-between;align-items:center;}
    #footer .f-top .f-logo{}
    #footer .f-top .f-logo img{}
    #footer .f-top .f-gnb{}
    #footer .f-top .f-gnb li{position:relative;display:inline-block;}
    #footer .f-top .f-gnb li+li{margin-left:20px;padding-left:20px;}
    #footer .f-top .f-gnb li+li:before{position:absolute;left:0;top:50%;margin-top:-7px;width:1px;height:14px;background:#fff;display:block;content:"";}
    #footer .f-top .f-gnb li a{color:#fff;font-size:16px;}
    #footer .f-bottom{padding-top:40px;border-top:1px solid #2d3142;}
    #footer .f-bottom .text-list{color:#fff;}  
    #footer .f-bottom .text-list.right{text-align:right;}  
    #footer .f-bottom .text-list li{}  
    #footer .f-bottom .text-list li.m-show{display:none;}  
    #footer .f-bottom .text-list li.m-none{}  
    #footer .f-bottom .text-list li+li{margin-top:8px;}  
    #footer .f-bottom .text-list li em{color:#fff;font-size:36px;}  
     #footer .f-bottom .f-logo{display:none;}
/*footer-E*/

/* Media-S */

@media screen and (max-width: 1700px){
    #header .inner{width:98%;}
}
@media screen and (max-width: 1280px){
     .inner{width:95%;}
}
/* //1280px */
@media screen and (max-width: 1024px){
    #gnb .gnb-menu .logo{margin:0 36px 0 0;}
    #gnb .gnb-menu>ul>li+li{margin:0 0 0 30px;}
    /*//header*/
    #footer .f-top .f-gnb li a{font-size:14px;}
    #footer .f-top .f-gnb li+li{margin-left:16px;padding-left:16px;}
    /*//footer*/
}
/* //1024px */
@media screen and (max-width: 900px){
    #gnb .gnb-menu>ul>li+li{margin:0 0 0 20px;}
    #gnb .gnb-menu .lang-box{margin:0 0 0 20px;}
     /*//header*/
     #footer .f-top .f-logo{margin:0 0 20px 0;}
     #footer .f-top .inner{display:block;}
     #footer .f-top .f-gnb{margin-left:20px;}
     /*//footer*/
}
/*//900px*/
@media screen and (max-width: 850px){
    #gnb .gnb-menu>ul>li+li{margin:0 0 0 15px;}
    #gnb .gnb-menu ul li a{font-size:14px;}
}
/*//850px*/
@media screen and (max-width: 769px){
    #header .inner{position:static;width:95%;}
    .logo{left:20px;}
    .menu-bt{display:block;}
    .menu-bt button.close{background-image:url("../images/menu_close_ico.png");}
    #gnb{display:none;position:absolute;left:0;top:70px;padding:0 0 30px;height:auto;width:100%;border-top:1px solid #2b2f3d;background:#171a25;z-index:2;}
    #gnb .gnb-menu{padding:0 0 0 0!important;float:none!important;}
    #gnb .gnb-menu+.gnb-menu ul{border-top:1px solid #2b2f3d;}
    #gnb .gnb-menu ul{padding:10px 0;}
    #gnb .gnb-menu ul li{display:block;line-height:1;}
    #gnb .gnb-menu ul li a{color:#fff!important;font-size:14px;}
    #gnb .gnb-menu>ul>li{}
    #gnb .gnb-menu>ul>li>a{display:block;padding:10px 0 10px 50px;height:100%;}
    #gnb .gnb-menu>ul>li+li{margin:0 0 0 0;}
    #gnb .gnb-menu ul li .sub-gnb{position:static;display:none;margin:0 0 0 0;padding:6px 0 6px 50px;width:100%;background:#2b2f3d;border-radius:0;}
    #gnb .gnb-menu ul li .sub-gnb:after{display:none;}
    #gnb .gnb-menu ul li .sub-gnb li a{display:block;padding:8px 0;}
    #gnb .gnb-menu ul li .sub-gnb li+li{margin:0 0 0 0;}
    #gnb .gnb-menu .lang-box{margin:0;padding:18px 0 0 50px;border-top:1px solid #2b2f3d;line-height:1;}
    #gnb .gnb-menu ul,#gnb .gnb-menu .lang-box{display:block;}
}
/*//768px*/
@media screen and (max-width: 640px){
    #footer{padding:38px 0 90px;}
    #footer .f-top .f-gnb{margin:0 auto;max-width:280px;}
    #footer .f-top .f-gnb li:nth-child(-n+4){margin-bottom:10px;}
    #footer .f-top .f-gnb li:nth-child(5n){margin-left:0;padding-left:0;}
    #footer .f-top .f-gnb li:nth-child(5n):before{display:none;}
    #footer .f-top .f-gnb li a{font-size:12px;}
    #footer .f-top .f-logo{display:none;}
    #footer .f-bottom .f-logo{display:block;margin:0 0 20px 0;}
    #footer .inner{display:block;}
    #footer .f-bottom{padding-top:24px;}
    #footer .f-bottom .text-list{text-align:left!important;}
    #footer .f-bottom .text-list+.text-list{margin-top:24px;}
    #footer .f-bottom .text-list li{font-size:12px;}
    #footer .f-bottom .text-list li em{font-size:28px;}
    #footer .f-bottom .text-list li.m-show{display:block;margin-top:24px;}  
    #footer .f-bottom .text-list li.m-none{display:none;} 
}
@media screen and (max-width: 400px){
}
/* //400px */

/* Media-E */